@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");
html,
body {
  /* overflow: hidden; */
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

header {
  border-bottom: 2px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e94a5c;
}
header nav .logo {
  display: inline-block;
  text-align: center;
  margin: 0px 0px 0px 20px;
  font-weight: 800;
}
header nav .navigation {
  margin: 0px 20px 0px 0px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
header nav .navigation ul {
  float: right;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
header nav .navigation ul li {
  /* menu add line */
  display: inline-block;
  gap: 2.8rem;
}
header nav .navigation ul li a {
  display: block;
  padding: 0px 15px;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  color: #e94a5c;
}
header nav .navigation ul li a:hover {
  color: #fdc749;
}
header nav .navigation ul li:hover > ul {
  visibility: visible;
}
header nav .navigation ul ul {
  visibility: hidden;
}
header nav .navigation ul ul li {
  position: relative;
  top: 5px;
  left: -45px;
}

section .mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .mainBox .headline {
  color: var(--font);
  font-size: small;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
}
section .mainBox .mainContent {
  font-size: 2rem;
  color: var(--font);
}
section .mainBox .main {
  display: flex;
  flex-direction: row;
  text-align: center;
}
section .details {
  margin: 80px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section .details .info,
section .details .status {
  height: 250px;
  width: 700px;
  border: 2px solid grey;
}
section .details p {
  margin-left: 10px;
}
section .result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0px 0px 0px;
  padding-bottom: 25px;
}
section .result img {
  height: 155px;
  width: 150px;
}
section .result .keypoint {
  border: 2px solid rgb(116, 113, 113);
  height: 150px;
  width: 250px;
}
section .result .path {
  width: 1000px;
  border: 2px solid rgb(116, 113, 113);
}
section .tagline {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #fdc749;
}
section input[type=text] {
  width: 500px;
  height: 38px;
  outline: none;
  border: 2px solid #000000;
  border-radius: 3px;
  background: transparent;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  margin: 5px -140px 0px 23px;
  border: 1px solid grey;
}
section input[type=submit] {
  height: 41px;
  width: 130px;
  background-color: #e94a5c;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 2px;
  text-align: center;
  outline: none;
  border: none;
}
section input[type=submit]:hover {
  color: black;
}/*# sourceMappingURL=Track_File.css.map */