@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --primary: #e94a5c;
    --secondary: #fdc749;
    --tertiary: #81bce8;
    --font: black;
}

html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

/* Start Design of Header */
header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);

}

nav .logo {
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 20px;
    font-weight: 800;
}

.navigation {
    margin: 0px 20px 0px 0px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation ul {

    float: right;
    display: flex;
    gap: 1.8rem;
    list-style: none;
    color: black;

}

.navigation ul li {
    float: left;
    gap: 2.8rem;
}

.navigation ul li a {
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--primary);
}
.navigation ul li a:hover
{
    color: var(--secondary);
}

/* end design of header */
section .aboutsite p
{
    text-align: center;
}
footer {
    color: white;
    height: 250px;
    width: 100%;
    background-color: #180839;
    position: fixed;
    bottom: 0;
    
}
.aboutsite .tagline
{
    font-size: 2rem;
}
.ft_main p {
    text-align: center;
    font-size: 2rem;
}
.ft_content
{
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    
}
.department {
    width: 500px;
}

.department .dep_heading {
    text-align: center;
    color: var(--secondary);
    font-size: 1.5rem;
}

.developer {
    width: 500px;
    border-left: 3px solid var(--secondary);
    padding-left: 100px;
    margin-left: 70px;

}

.developer .dev_heading {

    text-align: center;
    color: var(--secondary);
    font-size: 1.5rem;
}