@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --primary: #e94a5c;
    --secondary: #fdc749;
    --tertiary: #81bce8;
    --font: black;
}

html,
body {
    overflow: hidden;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;

    background-image: url('images/3.jpg');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom 50% right 80%;
}

/* Start Design of Header */
header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    
}

nav .logo {
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 20px;
    font-weight: 800;
}

.navigation {
    margin: 0px 20px 0px 0px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation ul {

    float: right;
    display: flex;
    gap: 0.5rem;
    list-style: none;

}

.navigation ul li {
    /* menu add line */
    display: inline-block; 
    float: left;
    gap: 2.8rem;
}

.navigation ul li a {
    display: block;
    padding: 0px 15px;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--primary);
}
.navigation ul li a:hover
{
    color: var(--secondary);
}

.navigation ul ul{
    visibility: hidden;
}
.navigation ul li:hover > ul 
{
    visibility: visible;
}
.navigation ul ul li{
    position: relative;
    top: 5px;
    left: -45px;
}
/* end design of header */

section {
    width: 300px;
    float: right;
    margin: 100px 120px;
    padding: 10px;  

}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}
.tagline
{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--secondary);
    margin-bottom: 0px;
    text-transform: uppercase;
}
input[type=text],
input[type=password] {
    width: 250px;
    height: 38px;
    outline: none;
    border: 1px solid grey;
    border-radius: 3px;
    background: transparent;
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 20px 0px 20px;

}

button {
    height: 35px;
    width: 130px;
    margin: 50px 0px 0px 0px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    text-align: center;
    outline: none;
    border: none;
}

button:hover {
    color: var(--font);
}

section .image {
    text-align: center;
    margin-bottom: 30px;
}

section .image img {
    height: 100px;
    border-radius: 50%;
}
#reg
{
    margin: 50px 0px -20px 0px;
}