@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

:root {
    --primary: #e94a5c;
    --secondary: #fdc749;
    --tertiary: #81bce8;
    --font: black;
}

html,
body {
    /* overflow: hidden; */
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
}

/* Start Design of Header */
header {
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    
}

nav .logo {
    display: inline-block;
    text-align: center;
    margin: 0px 0px 0px 20px;
    font-weight: 800;
}

.navigation {
    margin: 0px 20px 0px 0px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.navigation ul {

    float: right;
    display: flex;
    gap: 0.3rem;
    list-style: none;

}

.navigation ul li {
    /* menu add line */
    display: inline-block; 
    float: left;
    gap: 2.8rem;
}

.navigation ul li a {
    display: block;
    padding: 0px 15px;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--primary);
}
.navigation ul li a:hover
{
    color: var(--secondary);
}

.navigation ul ul{
    visibility: hidden;
}
.navigation ul li:hover > ul 
{
    visibility: visible;
}
.navigation ul ul li{
    position: relative;
    top: 5px;
    left: -45px;
}
/* end header design */
.progress {
    display: flex;
    flex-direction: column;
    margin: 70px 0px 0px 50px;
}
.radio
{
    margin: 0px 0px 20px 0px;
}